Repository mazipan/pramuka-id: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

Update Level3.tsx
  src/components/Breadcrumb/Level3.tsx
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

feat: download page using table
  public/sitemap.xml
  src/data/download-sku.ts
  src/pages/download/index.tsx
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

feat: card list revamp
  src/components/Card/List.tsx
  src/pages/index.tsx
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

chore: add type-check on lintstaged
  src/pages/download/index.tsx
  tsconfig.json
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

chore: tsconfig
  tsconfig.json
Due: prettier --ignore-path .gitignore --write

feat: add pwa install buttton
  .gitignore
  next.config.js
  package.json
  public/manifest.json
  public/site.webmanifest
  src/components/HeaderSection.tsx
  src/components/MainLayout.tsx
  src/hooks/useTheme.ts
  wb.config.js
  yarn.lock
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

chore: use maskable icons
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/favicon-128xx128.png
  public/favicon-192x192.png
  public/favicon-384x384.png
  public/favicon-48x48.png
  public/favicon-512x512.png
  public/favicon-72x72.png
  public/favicon-96x96.png
  public/manifest.json
  src/components/HeaderSection.tsx
  src/components/MainLayout.tsx
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

chore: add badge
  README.md
Due: prettier --ignore-path .gitignore --write

docs: remove screenshots
  README.md
Due: prettier --ignore-path .gitignore --write

Update index.tsx
  src/pages/index.tsx
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

Update SeoText.tsx
  src/components/SeoText.tsx
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

Update SubmitGhIssue.tsx
  src/components/SubmitGhIssue.tsx
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

Update MainLayout.tsx
  src/components/MainLayout.tsx
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

Update BottomNavigation.tsx
  src/components/BottomNavigation.tsx
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

Update index.css
  src/css/index.css
Due: prettier --ignore-path .gitignore --write

chore(dep): update dependencies
  package.json
  yarn.lock
Due: prettier --ignore-path .gitignore --write

feat(font): using inhouse fonts
  package.json
  public/fonts/inter-var-latin.woff2
  src/css/index.css
  src/pages/_app.tsx
  vercel.json
  wb.config.js
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

chore(docs): add deployment badge
  README.md
Due: prettier --ignore-path .gitignore --write

fix: build error
  next-env.d.ts
  package.json
  public/sitemap.xml
  yarn.lock
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

Update index.tsx
  src/pages/download/index.tsx
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

fix: accessibility
  src/components/BottomNavigation.tsx
  src/components/MainLayout.tsx
  src/components/SubmitGhIssue.tsx
  src/css/index.css
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

Update dwi-satya.ts
  src/data/dwi-satya.ts
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

feat: add share pages
  src/components/ActionNavigation.tsx
  src/pages/download/index.tsx
  src/pages/materi-kecakapan-umum/bendera-semaphore.tsx
  src/pages/materi-kecakapan-umum/hari-peringatan-nasional.tsx
  src/pages/materi-kecakapan-umum/kompas.tsx
  src/pages/materi-kecakapan-umum/lagu-lagu-pramuka.tsx
  src/pages/materi-kecakapan-umum/morse.tsx
  src/pages/materi-kecakapan-umum/pedoman-sku.tsx
  src/pages/materi-kecakapan-umum/radio.tsx
  src/pages/materi-kecakapan-umum/salam-pramuka.tsx
  src/pages/materi-kecakapan-umum/tanda-kecakapan-khusus.tsx
  src/pages/materi-kecakapan-umum/tepuk-pramuka.tsx
  src/pages/materi-kenegaraan/pancasila.tsx
  src/pages/materi-kenegaraan/pembukaan-uud-1945.tsx
  src/pages/materi-kenegaraan/proklamasi.tsx
  src/pages/materi-pramuka/dasa-dharma.tsx
  src/pages/materi-pramuka/dwi-dharma.tsx
  src/pages/materi-pramuka/dwi-satya.tsx
  src/pages/materi-pramuka/hymne-pramuka.tsx
  src/pages/materi-pramuka/kwartir.tsx
  src/pages/materi-pramuka/lambang-pramuka.tsx
  src/pages/materi-pramuka/sandi-ambalan.tsx
  src/pages/materi-pramuka/satuan-karya-pramuka.tsx
  src/pages/materi-pramuka/seragam-pramuka.tsx
  src/pages/materi-pramuka/tri-satya.tsx
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

fix: upgrade react-ssr-prepass from 1.2.0 to 1.4.0
  package.json
  yarn.lock
Due: prettier --ignore-path .gitignore --write

Update ActionNavigation.tsx
  src/components/ActionNavigation.tsx
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

Create .kodiak.toml
  .kodiak.toml
Due: none

chore: update deps
  .env.development
  .env.local
  .env.production
  .eslintignore
  .eslintrc.js
  .lintstagedrc.json
  next-env.d.ts
  next-sitemap.config.js
  next.config.js
  package.json
  pnpm-lock.yaml
  src/components/HeaderSection.tsx
  src/constants/index.ts
  src/middleware/init.ts
  src/pages/materi-kecakapan-umum/salam-pramuka.tsx
  src/pages/materi-kecakapan-umum/tanda-kecakapan-khusus.tsx
  src/pages/materi-kecakapan-umum/tepuk-pramuka.tsx
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

chore: set engines
  package.json
Due: prettier --ignore-path .gitignore --write

chore: init adsense for review process
  src/pages/_app.tsx
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

fix: remove Beranda title
  src/pages/index.tsx
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

feat: add adsense
  src/components/MainLayout.tsx
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

fix: ads txt
  public/ads.txt
Due: none

chore: update to pramuka.space
  .env.local
  .env.local.example
  README.md
  next-sitemap.config.js
  public/manifest.json
  public/robots.txt
  public/sitemap.xml
  src/components/SubmitGhIssue.tsx
  src/constants/index.ts
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

chore: add pnpm as packageManager
  package.json
Due: prettier --ignore-path .gitignore --write

chore: add fallback resolver
  next.config.js
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

chore: redirect to vercel domain
  README.md
  next-sitemap.config.js
  public/manifest.json
  public/robots.txt
  public/sitemap.xml
  src/constants/index.ts
Due: prettier --ignore-path .gitignore --write, rustywind --write ., eslint --ignore-path .gitignore --quiet --fix

Path conditions:
  prettier --ignore-path .gitignore --write: (any of: *.{css,scss,json,md,html}) or (any of: *.{js,jsx,ts,tsx})
  rustywind --write .: any of: *.{js,jsx,ts,tsx}
  eslint --ignore-path .gitignore --quiet --fix: any of: *.{js,jsx,ts,tsx}
